<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.japanese_study_helper">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Japanese_Study_Helper">
        <activity android:name=".Kanji_Numbers_Custom_Activity"></activity>
        <activity android:name=".Kanji_Numbers_Activity" />
        <activity android:name=".Kanji_Activity" />
        <activity android:name=".HiraganaAndKatakana_RandFree_Activity" />
        <activity android:name=".HiraganaAndKatakana_RandMult_Activity" />
        <activity android:name=".HiraganaAndKatakana_AlphMult_Activity" />
        <activity android:name=".HiraganaAndKatakana_Characters_Activity" />
        <activity android:name=".HiraganaAndKatakana_Activity" />
        <activity android:name=".Katakana_RandFree_Activity" />
        <activity android:name=".Katakana_RandMult_Activity" />
        <activity android:name=".Katakana_AlphFree_Activity" />
        <activity android:name=".Katakana_AlphMult_Activity" />
        <activity android:name=".Katakana_Characters_Activity" />
        <activity android:name=".Katakana_Activity" />
        <activity android:name=".Hiragana_RandFree_Activity" />
        <activity android:name=".Hiragana_RandMult_Activity" />
        <activity android:name=".Hiragana_AlphFree_Activity" />
        <activity android:name=".Missed_Some_Characters_Activity" />
        <activity android:name=".All_Correct_Activity" />
        <activity android:name=".Hiragana_Characters_Activity" />
        <activity android:name=".Hiragana_AlphMult_Activity" />
        <activity android:name=".Hiragana_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>